/*

DAYTIME COLOR PALETTE:

    Blue Violet: #541388
    Dogwood Rose: #D90368
    eggshell: #F1E9DA
    Space Cadet: #2E294E
    Cyber Yellow: #FFD400

NIGHTTIME COLOR PALETTE:

    Dark purple: #242038
    Vivid burgundy: #9E0031
    Cadat gray: #99A1A6
    Cadmium orange: F28F3B
    Blue sapphire: #086375


*/

    /*DAYTIME STYLES*/
.dayTimeHeader, .dayTimeFooter{
    background-image: linear-gradient(to right, #541388, #D90368);
    color: #F1E9DA;
}

.dayTimeBtn{
    background-color: #D90368;
    color: #F1E9DA;
}

.dayTimeBtn:hover, .dayTimeBtn:active{
    background-color: #2E294E !important;
    border: none !important;
}

.dayTimeBtn:focus{
    box-shadow: none !important;
    
}

.dayTimeSearchAddress{
    border-color: #D90368;
}

.dayTimeSearchAddress:focus{
    box-shadow: none;
    border-color: #2E294E;
}

.dayTimeCardHeader{
    background-color: #2E294E;
}

.dayTimeCardButton{
    color: #FFD400;
    box-shadow: none;
}

.dayTimeCardButton:hover{
    color: rgba(255, 212, 0, 0.7);
}

.dayTimeCardButton:focus{
    box-shadow: none;
}

.weatherImg {
    height: 10rem;
}


    /*NIGHTTIME STYLES*/
.nightTimeHeader, .nightTimeFooter{
    background-image: linear-gradient(to right, #242038, #9E0031 );
    color: #F28F3B;
}

.nightTimeBtn{
    background-color: #9E0031 !important;
    color: #086375;
}