/*

DAYTIME COLOR PALETTE:

    Blue Violet: #541388
    Dogwood Rose: #D90368
    eggshell: #F1E9DA
    Space Cadet: #2E294E
    Cyber Yellow: #FFD400

NIGHTTIME COLOR PALETTE:

    Dark purple: #242038
    Vivid burgundy: #9E0031
    Cadat gray: #99A1A6
    Cadmium orange: F28F3B
    Blue sapphire: #086375


*/
main {
    min-height: 90vh;
}
.logo{
    height: 23vh;
    
}
    /*DAYTIME STYLES*/
/*.dayTimeHeader, .dayTimeFooter{
    /* background-image: linear-gradient(to right, #541388, #D90368); */
    /*background-color: #541388;
    color: #F1E9DA;
}*/


footer {
    border-top: lightgray 1px solid;
}

.dayTimeBtn{
    background-color: #FFD400;
    color: #2E294E;
    border: lightgray 1px solid;
}

.dayTimeBtn:hover, .dayTimeBtn:active{
    background-color: #2E294E !important;
    border: none !important;
}

.dayTimeBtn:focus{
    box-shadow: none !important;
}

.dayTimeSearchAddress{
    background-color: #f6f6f6;
    border-color: #2E294E;
    border: lightgray 1px solid;
}

.dayTimeSearchAddress:focus{
    box-shadow: none;
    border-color: #2E294E;
} 

.dayTimeCardHeader{
    background-color: #FFD400;
}

.dayTimeCardButton{
    color: #2E294E;
    box-shadow: none;
}

.dayTimeCardButton:hover{
    color: #2E294E;
}

.dayTimeCardButton:focus{
    box-shadow: none;
}
.dayTimeCardBg{
    background-color: #f6f6f6;
}

.dayTimeFooter {
    background-color: #FFD400;
    color: #2E294E;
}
.weatherImg {
    height: 10rem;
}

.footerBrand{
    height: 2rem;
}

    /*NIGHTTIME STYLES*/
/*.nightTimeHeader, .nightTimeFooter{
    background-image: linear-gradient(to right, #242038, #9E0031 );
    color: #F28F3B;
}*/
.nightTimeBackground{
    background-color:  #c8cdd0;
}
.nightTimeBtn, .nightTimeCardButton{
    background-color: #086375;
    color: white !important;
}

.nightTimeCardButton:focus{
    box-shadow: none !important;
}

.nightTimeCardBg, .nightTimeSearchAddress{
    background-color: 	 #e4e6e7;
}
.nightTimeCardHeader {
    background-color: #086375;
    color: white;
}
.nightTimeFooter {
    background-color: #086375;
}